name: ECF2

services:
  spark-master:
    image: apache/spark:3.5.7
    container_name: spark-master
    hostname: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    ports:
      - "8080:8080"
      - "7077:7077"
      - "4040:4040"
    volumes:
      - ./data_ecf:/data_ecf
      - ./output:/output
      - ./notebooks:/notebooks
    networks:
      - spark-network

  spark-worker-1:
    image: apache/spark:3.5.7
    container_name: spark-worker-1
    hostname: spark-worker-1
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    depends_on:
      - spark-master
    volumes:
      - ./data_ecf:/data_ecf
      - ./output:/output
      - ./notebooks:/notebooks
    networks:
      - spark-network

  spark-worker-2:
    image: apache/spark:3.5.7
    container_name: spark-worker-2
    hostname: spark-worker-2
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    depends_on:
      - spark-master
    volumes:
      - ./data_ecf:/data_ecf
      - ./output:/output
      - ./notebooks:/notebooks
    networks:
      - spark-network

  spark-worker-3:
    image: apache/spark:3.5.7
    container_name: spark-worker-3
    hostname: spark-worker-3
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
    depends_on:
      - spark-master
    volumes:
      - ./data_ecf:/data_ecf
      - ./output:/output
      - ./notebooks:/notebooks
    networks:
      - spark-network

networks:
  spark-network:
    driver: bridge
